[Desktop Entry]
Name=KeePassX
Name[zh_CN]=KeePassX 密码管理器
GenericName=Password Manager
GenericName[zh_CN]=密码管理器
Exec=keepassx %f
Icon=keepassx
Terminal=false
Type=Application
Categories=X-dataprotect;Utility;
MimeType=application/x-keepass2;
